.sdlc-container.position-relative
  .sdlc-description
    %h2 DevOpsライフサイクルを200%加速
    %p
      :markdown
        GitLabは[DevOpsライフサイクル全体](/stages-devops-lifecycle/)をカバーするアプリケーションです。プロジェクトの計画からソースコード管理、CI/CD、監視に至るまでGitLab1つで完結します。

  .table-container

    %p.table-label.single-application-label GitLab is a single application for the entire DevOps lifecycle.
    %p.table-label.separate-application-label GitLab could replace

    .sdlc-table
      - Gitlab::Homepage::Stage.all!.select{|stage| stage.marketing}.each do |stage|
        .sdlc-column
          .stage-container
            = partial "/includes/icons/sdlc-icons/#{stage.key}.svg"
            %p #{stage.display_name}
          .solutions-container
            - category_keys_active = data.categories.keys.keep_if { |k| data.categories[k].stage == stage.key && data.categories[k].available && data.categories[k].available <= Date.today}
            - category_keys_upcoming = data.categories.keys.keep_if { |k| data.categories[k].stage == stage.key && data.categories[k].available && data.categories[k].available >= Date.today}
            - if category_keys_active.length >= 1
              .current-categories
                %p.font-bold
                  Since
                  #{stage.established}
                  GitLab added:
                - category_keys_active.each do |key|
                  %p
                    #{data.categories[key].name}

          .devops-tools-wrapper{ id: "#{stage.key}-devops_tools-container" }
            %p.replace-text.font-bold GitLab could replace*
            .devops-tools-container
              - stage.devops_tools.each do |devops_tool|
                %a.devops-tool-logo-container{ href: "/devops-tools/#{devops_tool.key.dup.tr('_', '-')}-vs-gitlab.html" }
                  .devops-tool-tooltip
                    %p.tooltip-text
                      = devops_tool.name
                    .tooltip-carat
                  %img.devops-tool-logo{ src: "#{devops_tool.logo}", alt: "#{devops_tool.name} logo png" }

    %p.text-center.color-gray.font-small.margin-top30

    .btn-group.margin-top20
      %a.btn.cta-btn.orange.see-all-comparisons{ href: '/devops-tools/' } すべてのDevOpsツールと比較

%script{ src: "/javascripts/rotate-devops_tools.js" }
%script{ src: "/javascripts/libs/tweenmax.min.js" }
