%h4
  1. 依存パッケージのインストールと設定
%p
- if platform.firewall_open
  = "#{platform.long_name}では、下記のコマンドでシステムファイアウォールのHTTPとSSHを開ける必要があります。"
%pre.command
  = platform.dependency_commands
  = platform.firewall_open
  %button{ copy_btn_options("#{platform.dependency_commands}\r\n#{platform.firewall_open}\r\n") }
    %i.fa.fa-clipboard
%p
  次に、メールの通知を送信するためにPostfixをインストールします。別の方法でメールを送信する場合はこのステップを飛ばし、GitLabのインストール後に
  %a{ href: "https://docs.gitlab.com/omnibus/settings/smtp.html", target: '_blank' } 外部のSMTPサーバーを設定(英語)
  してください。
%pre.command
  = platform.postfix_commands
  %button{ copy_btn_options("#{platform.postfix_commands}\r\n") }
    %i.fa.fa-clipboard
%p
  Postfixのインストール中に設定画面が表示されます。その時は'Internet Site'を選択してEnterを押し、'mail name'にはサーバーの外部DNS名を入力してEnterを押してください。もしも追加の画面が表示される場合は、デフォルトのままEnterを押して続けてください。
%h4
  2. GitLabパッケージのリポジトリへの追加とインストール
%p
  GitLabパッケージをリポジトリに追加します。
%pre.command
  = "#{platform.download_command}\n"
  %button{ copy_btn_options("#{platform.download_command}\r\n") }
    %i.fa.fa-clipboard
%p
  次に、GitLabパッケージをインストールします。`http://gitlab.example.com`の部分は、GitLabインスタンスのURLで置換してください。指定したURLでGitLabが起動するように、自動的に設定されます。HTTPS化が必要な場合は、インストール後に
  %a{href: "https://docs.gitlab.com/omnibus/settings/nginx.html#enable-https", target: '_blank'}追加の設定(英語)
  を行ってください。
%pre.command
  = "#{platform.install_commands}"
  %button{ copy_btn_options("#{platform.install_commands}\r\n") }
    %i.fa.fa-clipboard
%h4
  3. ブラウザでログイン
:markdown
  最初のアクセスの場合は、パスワードリセット画面へリダイレクトされます。管理者アカウントの初期パスワードを入力すると、ログイン画面にリダイレクトされます。デフォルトの`root`アカウントを使用してログインしてください。

  より詳しい情報は[インストールと設定の詳細なドキュメント(英語)](https://docs.gitlab.com/omnibus/README.html#installation-and-configuration-using-omnibus-package)を参照ください。

.display-extra-links
  %ul
    %li
      %a{ href: "https://docs.gitlab.com/omnibus/", target: '_blank' }
        トラブルシューティング(英語)
    %li
      %a{ href: "http://docs.gitlab.com/omnibus/manual_install.html", target: '_blank' }
        マニュアルインストール(英語)
    %li
      %a{ href: "/installation/ce-or-ee/?distro=#{link_back}" }
        CEとEE
