body {
    font-family: Verdana, "Hiragino Kaku Gothic ProN", 游ゴシック, YuGothic, Meiryo, sans-serif;
    font-size: 16px;
}

p {
  // 禁則処理
  word-break: normal;
  -ms-word-break: normal; // IE用
  text-align: justify;
  text-justify: inter-ideograph; // IE用
}
