!!! 5
%html{lang: "ja", class: 'html--no-js'}
  %head
    = partial "includes/layout/head"
  %body{:data => {:spy => "scroll", :target => ".qnav", offset: "90"}}
    - if gtm_enabled?
      = partial 'includes/layout/gtm_body.html'
    = partial "includes/layout/header"
    = yield

  - if current_page.data.trial_bar
    = partial "includes/features/gitlab-ee-trial"

  .footer-container
    = partial "includes/layout/footer"
