---
layout: comparison_main_page
trial_bar: true
title: DevOpsツールの俯瞰図
description: "このページでは、GitLabとその他のDevOpsツールの機能を比較しています。それぞれの強みや不足部分を確認して、判断材料にしてください。"
suppress_header: true
image_title: '/images/devops-tools/title_image.png'
extra_css:
  - compared.css
  - release-posts.css
extra_js:
  - comparison.js
  - bootstrap-tooltip.js
---

- devops_tools = data.features.devops_tools
= partial "includes/home/sdlc-alt"
