---
layout: comparison_page
trial_bar: true
suppress_header: true
image_title: '/images/devops-tools/title_image.png'
extra_css:
  - compared.css
  - release-posts.css
extra_js:
  - bootstrap-tooltip.js
---

- product_one = data.features.devops_tools[key_one]
- product_two = data.features.devops_tools[key_two]
- content_for(:title){ product_one.name + "とGitLabの比較" }
- content_for(:description) { "このページでは、#{product_one.name}とGitLabを比較しています。それぞれの強みや不足部分を確認して、判断材料にしてください。" }

.row
  .col-md-12
    %a{href: '/devops-tools/'}
      ← DevOps ツールページに戻る

.row.margin-top50
  - if product_one.summary.present?
    .col-md-10.col-md-offset-1.margin-bottom30
      = kramdown(product_one.summary)
  - if product_one.include_file.present?
    .col-md-10
      = partial product_one.include_file

%table.compare-table.comparing-gitlab
  %colgroup
    %col{:width => "80%"}
    %col{:width => "10%"}
    %col{:width => "10%"}
  %thead
    %tr
      %th.text-left.table-title
        機能
      %th.text-center.table-title-logo
        - if (product_one.logo != "null")
          %img{ src: "#{product_one.logo}", alt: "#{product_one.name}", class: "logo" }
        - else
          = product_one.name
      %th.text-center.table-title-logo
        %img{ src: "/images/devops-tools/gitlab-logo.svg", alt: "GitLab", class: "logo" }
  %tbody.header.first
    - data.features.features.each do |feature|
      - shared_feature = (feature.public_send(key_one) != nil && feature.public_send(key_two) != nil)
      - if shared_feature
        %tr
          %td.feature-in-list
            %p.feature-in-list-title.feature-contents
              %strong= feature.title
              - if defined?(feature)
                = partial "includes/features/badges", locals: { tier_hash: serialize_tier_hash(feature), gitlab_com: feature.gitlab_com, is_dark: true }
            %p
              = kramdown(feature.description)
            %p
              = link_to feature.link_description, feature.link
          %td.check-container.text-center
            - if feature
              = partial "includes/features/feature-item-support", locals: { feature_support: feature.public_send(key_one) }

          %td.check-container.text-center
            - if feature
              = partial "includes/features/feature-item-support", locals: { feature_support: feature.public_send(key_two) }

.last-updated-section.text-center
  %p.clearfix
    // check if file exists to display download button
    - if sitemap.find_resource_by_path("/devops-tools/pdfs/#{key_one.dup.tr('_', '-')}-vs-gitlab.pdf")
      = link_to "PDF(英語)をダウンロード", "/devops-tools/pdfs/#{key_one.dup.tr('_', '-')}-vs-gitlab.pdf", class: "featured-item-button", download: "Comparison PDF"
  %p
    * このページの情報は最新ではありません。最新の情報は
    = link_to "本家サイト", "https://about.gitlab.com/devops-tools/#{key_one.dup.tr('_', '-')}-vs-gitlab.html", target: "_blank"
    をご確認ください。
