---
layout: default
title: GitLabでのDevOpsライフサイクル
suppress_header: true
description: "GitLabはDevOpsライフサイクル全体をカバーするオールインワンのアプリケーションです。GitLabは計画の作成からアプリケーションの監視までのステージをカバーすることに加えて、ステージ横断的な管理やセキュリティの機能も提供します。"
extra_css:
  - stages-devops-lifecycle.css
extra_js:
  - features.js
---

.blank-header
  %img.image-border.image-border-left{ src: "/images/home/icons-pattern-left.svg", alt: "Gitlab hero border pattern left svg" }
  %img.image-border.image-border-right{ src: "/images/home/icons-pattern-right.svg", alt: "Gitlab hero border pattern right svg" }
  .header-content
    %img.hero-image-small{ src: "/images/devops-tools/gitlab-logo.svg", alt: "GitLab logo icon svg" }
    %h1 DevOpsライフサイクル全体をカバーするオールインワンのアプリケーション
    %a.btn.cta-btn.orange{ href: "https://www.creationline.com/gitlab" }
      日本語でのサポートが必要な場合は「国内正規販売代理店」へお問い合わせください

= partial "includes/home/customer-logos-transparent"

.solutions-wrapper
  .solution-container.flex-container.justify-center.align-center.full-width
    .solution-info-container.flex-container.flex-column.full-width
      %h2
        DevOpsツールとしてのGitLabの特徴
      %p
        GitLabはDevOpsライフサイクル全体をカバーするオールインワンのアプリケーションです。GitLabを使用すれば、DevOpsを実践するために必要なツールの組み合わせに悩む必要がありません。GitLabの提供する高い生産性や包括的なガバナンスによって、ソフトウェア開発サイクルを3倍高速化し、ビジネスのスピードを大幅に向上できます。
    .solution-image-container.flex-container.align-center.full-width
      %img.solution-image.flex-shrink{:src => "/images/stages-devops-lifecycle/devops-loop-and-spans-small.png", :alt => "Gitlab devops loop png"}/
  - data.stages.stages.select{|stageKey,stage| stage.marketing}.keys.each do |solution|
    - link_url = "/stages-devops-lifecycle/#{solution.to_s.gsub(/_/, '-')}"
    - if (data.stages.stages.public_send(solution).image)
      .solution-container.flex-container.justify-center.align-center.full-width
        .solution-info-container.flex-container.flex-column.full-width
          %h2
            %a{ href: link_url }
              = data.stages.stages.public_send(solution).display_name
          %h4
            = data.stages.stages.public_send(solution).description
          %p
            = data.stages.stages.public_send(solution).body
          %a.learn-more.flex-container.align-center{ href: link_url }
            %p
              詳細 →
        .solution-image-container.flex-container.align-center.full-width
          %img.solution-image.flex-shrink{:src => data.stages.stages.public_send(solution).image, :alt => "Gitlab stage image"}/
    - else
      .solution-no-image
        %h2
          %a{ href: link_url }
            = data.stages.stages.public_send(solution).display_name
        %p
          = data.stages.stages.public_send(solution).description
        %p
          = data.stages.stages.public_send(solution).body
        %a.learn-more.flex-container.align-center{ href: link_url }
          %p
            Learn More →

.gitlab-cta-container.text-center.animated
  .container
    %a.btn.cta-btn.red.hidden-sm.hidden-xs{href: "/features"}
      すべての機能を表示

.gitlab-cta-container.text-center.animated
  .container
    %h2
      あなたに適したGitLabのプランを選択しましょう
    %h4
      あなたのサーバーでセルフホストすることも、GitLab社が提供するGitLab.comを利用することもできます
    %a.btn.cta-btn.red.hidden-sm.hidden-xs{href: "/pricing"}
      プランを表示
    %a.btn.cta-btn.red.visible-sm.visible-xs{href: "/pricing"}
      表示
