---
layout: default
title: 機能一覧
description: "課題の追跡、時間の追跡、レポート、ファイルロックなど、GitLabのさまざまな機能についてご紹介します。"
suppress_header: true
trial_bar: true
extra_css:
  - features-v2.css
  - release-posts.css
  - product.css
extra_js:
  - features.js
  - bootstrap-tooltip.js
---
.blank-header
  %img.image-border.image-border-left{ src: "/images/home/icons-pattern-left.svg", alt: "Gitlab hero border pattern left svg" }
  %img.image-border.image-border-right{ src: "/images/home/icons-pattern-right.svg", alt: "Gitlab hero border pattern right svg" }
  .header-content
    %h1
      GitLabのすべての機能
    %p
      :markdown
        GitLabは、DevOpsライフサイクル全体をカバーするオールインワンのアプリケーションです。GitLabだけがコンカレント DevOpsを可能にし、ツールチェーンの制約から組織を解放します。GitLabは、比類のない可視性、より高いレベルの効率性、包括的なガバナンスを提供します。これにより、ソフトウェアのライフサイクルを200%高速化し、ビジネスのスピードを根本的に向上させます。

.page-container.table-of-contents.text-center{ :style => "padding-bottom: 35px;" }
  .container{ style: "max-width: 900px;" }
    %a.title-link{ href: "/stages-devops-lifecycle/" }
      %h2
        DevOpsライフサイクルのステージ
    %ul
      - data.stages.stages.select{|stageKey,stage| stage.marketing}.each do |key, stage|
        = link_to stage.display_name, "##{key}"
        &nbsp;&nbsp;

- Gitlab::Homepage::Stage.all!.select{|stage| stage.marketing}.each do |stage|
  .page-container.feature-gallery.text-center.animated{ id: stage.key }
    .container
      %a.title-link{ href: "/stages-devops-lifecycle/#{stage.key}" }
        %h2
          = stage.display_name
      %p.subhead
        = stage.description

      - stage.categories.each do |category|
        - next unless category.features?
        - url = category.alt_link ? category.alt_link : "/product/#{category.key.gsub('_', '-').downcase}"
        %a{ href: "#{url}"}
          %h4.text-left{style: "max-width: none;"}
            = category.name

        .features-description.features-description-separation
          - category.features.each do |feature|
            - next if feature.missing?
            - if feature.screenshot?
              = partial "includes/features/feature-item-with-image", locals: { feature: feature }

          - category.features.each do |feature|
            - next if feature.missing?
            - if !feature.screenshot?
              = partial "includes/features/feature-item", locals: { feature: feature }


        - if category.missing_features?
          %h4.text-left{style: "max-width: none;"}
            = category.name
            \- 未実装
          .features-description.features-description-separation
            - category.features.each do |feature|
              - next unless feature.missing?
              - if feature.screenshot?
                = partial "includes/features/feature-item-with-image", locals: { feature: feature }

            - category.features.each do |feature|
              - next unless feature.missing?
              - if !feature.screenshot?
                = partial "includes/features/feature-item", locals: { feature: feature }


.gitlab-cta-container.text-center.animated
  .container
    %h2
      あなたに適したGitLabのプランを選択しましょう
    %h4
      あなたのサーバーでセルフホストすることも、GitLab社が提供するGitLab.comを利用することもできます
    %a.btn.cta-btn.red.hidden-sm.hidden-xs{href: "/pricing"}
      プランを表示
    %a.btn.cta-btn.red.visible-sm.visible-xs{href: "/pricing"}
      表示

.last-updated-section.text-center
  %p
    * このページの情報は最新ではありません。最新の情報は
    = link_to "本家サイト", "https://about.gitlab.com/features/", target: "_blank"
    をご確認ください。