.animated.text-center.source-link
  .about-this-site
    = link_to('プライバシーポリシー', '/privacy-policy/', class: 'external-source-link')
  .edit-on
    = link_to('このページを編集', edit_page_url, class: 'external-source-link', target: '_blank')
    &mdash;
    = link_to('貢献', contributing_url, class: 'external-source-link', target: '_blank') + 'をお願いします'
    = partial "includes/cc-license"

= partial "includes/layout/scripts"
