%meta{ name: "description", content: page_description }

%meta{ name: "twitter:card", content: "summary_large_image" }
%meta{ name: "twitter:site", content: "@GitLabJP" }
%meta{ name: "twitter:creator", content: "@GitLabJP" }

- if current_page.url
  %meta{property: "og:url", content: "#{data.site.url}#{current_page.url}"}

%meta{property: "og:title", content: page_title }

%meta{ name: "og:description", content: page_description }

- if current_page.data.twitter_image
  %meta{property: "og:image", content: "#{data.site.url}#{current_page.data.twitter_image}"}
  %meta{name: "twitter:image", content: "#{data.site.url}#{current_page.data.twitter_image}"}
- elsif current_page.data.image_title
  %meta{property: "og:image", content: "#{data.site.url}#{current_page.data.image_title}"}
  %meta{name: "twitter:image", content: "#{data.site.url}#{current_page.data.image_title}"}
- else
  %meta{property: "og:image", content: "#{data.site.url}/images/blogimages/gitlab-blog-cover.png"}
  %meta{name: "twitter:image", content: "#{data.site.url}/images/blogimages/gitlab-blog-cover.png"}

- if current_page.data.keywords
  %meta{ name: "keywords", content: current_page.data.keywords.join(", ") }
