---
layout: default
title: セルフホスト | 各種プランの機能比較
description: GitLabの各種プランでの機能の違いを比較します
suppress_header: true
extra_css:
  - pricing.css
  - compared.css
extra_js:
  - bootstrap-tooltip.js
  - comparison.js
extra_font:
  - "Roboto+Slab"
---
.content-container
  .container
    %h2.faq-title.text-center
      セルフホスト | 機能比較
    .comparison-page-content.comparison.gray-bg#comparison
      = partial "includes/features/table", locals: { product_one: data.features.devops_tools.gitlab_core, product_two: data.features.devops_tools.gitlab_starter, product_three: data.features.devops_tools.gitlab_premium, product_four: data.features.devops_tools.gitlab_ultimate, key_one: 'gitlab_core', key_two: 'gitlab_starter', key_three: 'gitlab_premium', key_four: 'gitlab_ultimate', gitlab_com_features: false, highlight_features: false }
    .text-center
      = link_to "料金を表示", "/pricing/", class: "featured-item-button"
    .text-center
      = link_to "「正規販売代理店」へ問い合わせ", 'https://www.creationline.com/gitlab', class: "featured-item-button contact-us-button"
.last-updated-section.text-center
  %p
    * このページの情報は最新ではありません。最新の情報は
    = link_to "本家サイト", "https://about.gitlab.com/pricing/self-managed/feature-comparison/", target: "_blank"
    をご確認ください。