---
layout: markdown_page
title: "GitHub"
---
<!-- This is the template for defining sections which will be included in a tool comparison page. This .md file is included in the top of the page and a table of feature comparisons is added directly below it. This template provides the sections which can be included, and the order to include them. If a section has no content yet then leave it out. Leave this note in tact so that others can see where new sections should be added.

## Summary
   - minimal requirement <-- comment. delete this line
## Strengths
## Weaknesses
## Who buys and why
## Comments/Anecdotes
   - possible customer issues with product  <-- comment. delete this line
   - sample benefits and success stories  <-- comment. delete this line
   - date, source, insight  <-- comment. delete this line
## Resources
   - links to communities, etc  <-- comment. delete this line
   - bulleted list  <-- comment. delete this line
## FAQs
 - about the product  <-- comment. delete this line
## Integrations
## Pricing
   - summary, links to tool website  <-- comment. delete this line
### Value/ROI
   - link to ROI calc?  <-- comment. delete this line
## Questions to ask
   - positioning questions, traps, etc.  <-- comment. delete this line
## Comparison
   - features comparison table will follow this <-- comment. delete this line

<!------------------Begin page additions below this line ------------------ -->



## GitHubがTeamプランの無償化を発表
2020年4月14日、GitHubはTeamプランを無償化することを発表しました。GitLabは発足以来、チーム/組織向けに無料で提供されています。GitHubによるこの動きについて、[**GitLabのブログ記事のレスポンスと#GitChallenge**](https://about.gitlab.com/blog/2020/04/14/github-free-for-teams/)を読んでみてください。

## GitHubとGitLabの比較図
GitHubとGitLabの比較図をご紹介します。この図を構築するために使用された手法は、[ここ](#comparison_note)で見ることができます。強みや不足部分などの詳細な比較や解説は、以下のセクションにまとめています。

![GitLab GitHub比較図](/images/devops-tools/github_comparison.png "GitLab-GitHub比較図")



<a name="comparison_note"></a>**注:**このチャートは、GitLabとGitHubがサポートしている機能カテゴリを比較して作成したものです。例えば、PlanステージのGitLabの「5/7」という比率は、そのDevOpsライフサイクルステージ内で7つの機能カテゴリのうち5つをサポートしていることを示しています。
次に、特定の％のしきい値を適用して、バーに色付けしました。GitLabの透明性という価値観に沿って、GitLabとGitHubの両方の機能にこのスコアリング手法を適用しました。
分析方法や情報の追加についてご質問がある場合は、本家サイトのページの下部にあるリンクをクリックしてイシューを投稿するか、コメントをしてください。


## このページのコンテンツ
{:.no_toc}

- TOC
{:toc}

## 概観

<div class="sdlc-component-container">
  <%= partial "includes/sdlc_comparison_tabs_vue" %>
</div>

<style>
   .flex-cell:nth-of-type(3) {
      display: none;
   }
</style>

## 要約

[GitLabとGitHubの比較](https://www.youtube.com/watch?v=s8DCpG1PeaU&feature=youtu.be) - 独立した外部組織 (LinuxHint.com) によって作成された比較動画です。

GitHubを使用するとリポジトリのホスティング、コードレビュー、プロジェクト管理、ソフトウェアのビルドが可能です。GitHubは、Gitの分散バージョン管理やソースコード管理機能のすべてと独自の追加機能を提供します。GitHubはアクセス制御と、バグ追跡、機能要求、タスク管理、Wikiなどのいくつかのコラボレーション機能を提供します。

2019年11月、GitHubは全ユーザー向けにGitHub Actionsの一般提供を発表しました。GitHub Actionsの機能により、コンテナ内でコードスニペットを実行できることに加えて、様々なGitHubのAPIを利用することができます。これにより、ユーザーは任意のイベントに基づいて様々なワークフローを実行することができます。GitHub Actionsでは、ワークフローやステップはリポジトリ内のコードにすぎません。これにより、プロジェクトのビルド、テスト、デプロイの自動化が容易になり、Linux、macOS、Windowsのランナーもサポートされています。GitHub Actionsでは、ワークフローをコンテナまたは仮想マシンで実行します。

同様に、GitLabはCI/CDを統合していますが、アプリケーションのパフォーマンスやサーバーの監視などの追加機能も提供しています。また、GitLabには静的・動的セキュリティテストやコンテナスキャンも含まれています。

GitHubにはデプロイメントプラットフォームが付属しておらず、アプリケーションをデプロイするためにはHerokuのような追加のアプリケーションが必要です。GitLabは[Kubernetes](/solutions/kubernetes/)を活用して、単一のアプリケーションでシームレスなデプロイ体験を実現します。

GitHubでは、オープンソースのソフトウェアプロジェクトをホストするために一般的に使用されるプライベートリポジトリと無料アカウントの両方のプランを提供しています。

2019年9月現在、GitHubは4000万人以上の開発者が利用していると報告しています。「GitHub上の開発者とは、その活動内容とは無関係に、個人ユーザーアカウントのこと」と定義されていますが、1億件のリポジトリ（2800万件の公開リポジトリを含む）を保有しており、世界最大のソースコードのホスティングサービスとなっています。

GitHubはGitHub Enterprise（GHE）というセルフマネージド版も提供しています。

2018年6月4日、マイクロソフトはGitHubを買収しました。

## GitHubの強み
- GitHubを利用している開発者の大規模なユーザー基盤。
- GitHub自体はオープンソースではありませんが、多くのオープンソースプロジェクトがGitHub上でホストされています。

## GitHubの不足部分
- エンドツーエンドのDevOps: GitHubでは、複数のツールをつなぎ合わせてエンドツーエンドのDevOpsソリューションを提供する必要があります。GitLabはDevOpsのための単一プラットフォームを提供し、さまざまなステージのツールがあらかじめ統合され、シームレスに動作するようになっています。
- スケーリング: GitHubの顧客からのフィードバックによると、GitHub Enterprise (GHE)はスケーリングの問題を抱えています。GHEは基本的に単一のVMとして提供されます。 システムをスケールさせるには、CPUとメモリを増設するしかありません。 この方法によるスケーリングは、ある程度の規模で限界が訪れます。 データによると、GHEは多くの場合、2000人を超えるユーザーに対応できないことがわかっています。 単一のVMでCPUとメモリを最大化した後は、別のVMを追加してユーザーを分散化するしかスケールする方法はありません。これはコードの断片化につながります。
[GitLabはエンタープライズクラス](/solutions/enterprise-class/)であり、32000人を超えるユーザーまでスケールできます。
- 高可用性: GHEのHAソリューションはせいぜいウォームスタンバイです。この方法では、バックアップを頻繁に行わないと、ダウンタイムが増え、情報の損失につながる可能性があります。
- ゼロダウンタイムアップグレード: GHEはゼロダウンタイムアップグレードを提供しておらず、アップグレードのダウンタイムが4時間にも及ぶこともあります。これは、ほとんどの企業にとって重要な要件です。GitLabはゼロダウンタイムのアップグレードを提供しています。
- オープンソースプロジェクトの大規模リポジトリとして、GitHub自体はオープンソースではありません。そのため、顧客は製品の改善をGitHubのみに依存することになります。

## GitHub Actionsの不足部分
### ソース: [GitHub Actionsのコミュニティフォーラム](https://github.community/t5/GitHub-Actions/bd-p/actions)
次の表は、GitHub Actions の主な不足部分とそれに伴う影響を示しています。この情報は、2020年4月10日時点のGitHub Actionsのコミュニティグループでのユーザーフィードバックを元にしています。


| **説明** | **影響** | **参照** |
|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|-----------------------------------------------------------------------------------------------------------------------------------------------------|
| **継続的統合** |  |  |
| *ビルド時間を増加させる課題* |  |  |
| GitHub Actions は [skip ci] をサポートしていない | 些細な変更でも、必ずCIステップが自動的に開始されるため、長いビルド時間が必要となる可能性があります。 | [GitHubコミュニティでの議論](https://github.community/t5/GitHub-Actions/GitHub-Actions-does-not-respect-skip-ci/m-p/42834) |
| 冗長なビルドの自動キャンセルができない | 同じブランチで新しいビルドが起動した場合、実行中のビルドがキャンセルされず、新しいビルドで起動します。そのため、ビルド時間と計算リソースが増加します。 | [GitHubコミュニティでの議論](https://github.community/t5/GitHub-Actions/Github-actions-Cancel-redundant-builds/m-p/29549) |
| リポジトリ内のアーティファクトをキャッシュして以降のビルドで再利用することができない | dockerイメージを毎回リビルドしたりhubから取得したりする必要があるため、ビルド時間が遅くなります。 | [GitHubコミュニティでの議論](https://github.community/t5/GitHub-Actions/Cache-a-Docker-image-built-in-workflow/td-p/31805) |
| GitHub Actions の実行間のファイルのキャッシュが 200 MB に制限されている | プロジェクトやビルドの実行に時間がかかります。 | [GitHubコミュニティでの議論](https://github.community/t5/GitHub-Actions/Caching-files-between-GitHub-Action-executions/td-p/29445) |
| continue-on-errorの結果がUIに通知されない | 許容されるエラーはUIに通知されないので、ログを確認する必要があります。 | [GitHubコミュニティでの議論](https://github.community/t5/GitHub-Actions/continue-on-error-allow-failure-UI-indication/m-p/37033) |
| *運用コストを増加させる課題* |  |  |
| 同じ組織内のリポジトリであっても、Actionsでは他のプライベートリポジトリにまたがってアクセスすることはできません。 | コードの再利用が難しくなります。この制限を克服するためには、回避策の実装に苦労する必要があります。 | [GitHubコミュニティでの議論](https://github.community/t5/GitHub-Actions/Github-action-action-in-private-repository/m-p/29722) |
| UIから個々のワークフローの実行を削除することができない | 失敗したワークフローの実行を削除できないので、情報を整理するのが難しくなり、管理性を低下させます。 | [GitHubコミュニティでの議論](https://github.community/t5/GitHub-Actions/Deletion-of-individual-workflow-runs/m-p/39998) |
| **継続的デリバリー** |  |  |
| *デリバリー時間を増加させる課題* |  |  |
| ワークフロー内の単一のジョブだけを再実行できない | 例えば、いくつかの失敗したジョブだけを再実行することができません。ユーザーはワークフロー全体を再実行しなければならず、無駄な時間や生産性の低下を招くことになります。10個のジョブがあるワークフローでは、10個すべてを再実行する必要があります。 | [GitHubコミュニティでの議論](https://github.community/t5/GitHub-Actions/Ability-to-rerun-just-a-single-job-in-a-workflow/m-p/41629) |
| *運用コストを増加させる課題* |  |  |
| ステージング環境と本番環境で異なるワークフローを簡単にトリガーできない | 条件付きのワークフローは、GitHub Actions Events には関連する型がないので、実装やメンテナンスが大変です。ワークフローにif条件を実装しなければなりません。 | [GitHubコミュニティでの議論](https://github.community/t5/GitHub-Actions/Understanding-GitHub-Actions-and-Deployments/td-p/45606) |
| リポジトリの GITHUB_TOKEN を使用して、別のワークフローから新しいワークフローをトリガーできない。オプションは、1)ボットユーザーを作成して個人のアクセストークンを使用するか、2)github appを作成するかです。 | コードプッシュ後のテストを簡単に開始できません。所定の回避策のいずれかを使用しなければなりません。 | [GitHubコミュニティでの議論](https://github.community/t5/GitHub-Actions/Triggering-a-new-workflow-from-another-workflow/td-p/31676) |
| プルリクエストのメッセージ/コメントを介してアクションをトリガできない | 例: ユーザーは、プルリクエストごとに実行するのに時間がかかるアクションを望んでいません。代わりに、特定のアクションが実行されないようにするために、プルリクエストにコメントを追加します。 | [GitHubコミュニティでの議論](https://github.community/t5/GitHub-Actions/Trigger-action-via-pull-request-message/td-p/46523) |
| YAML アンカーとエイリアスのサポートの欠如 | コードの再利用を妨げます。この制限を克服するためには、ユーザーはコードをコピーアンドペーストする必要があり、メンテナンスが困難になります。 | [GitHubコミュニティでの議論](https://github.community/t5/GitHub-Actions/Support-for-YAML-anchors/m-p/30336) |
| *リスクを増加させる課題* |  |  |
| ワークフローの実行を手動でトリガーできない。 | 本番環境での手動トリガーは制限されますが、他の環境での自動トリガーは許可されています。 | [GitHubコミュニティでの議論](https://github.community/t5/GitHub-Actions/GitHub-Actions-Manual-Trigger-Approvals/m-p/31504) |
| **エンタープライズ・レディネス** |  |  |
| *リスクを増加させる課題* |  |  |
| チームや組織レベルでの秘密情報の管理 | CI-CDのフリクションが増加するにつれて、秘密情報をコピーするスクリプトなどの回避策を使用した場合に、セキュリティ上の脆弱性が発生しやすくなります。 | [GitHubコミュニティでの議論](https://github.community/t5/GitHub-Actions/Secrets-on-Team-and-Organization-level/m-p/29745) |
| フォークのビルドのために秘密情報を利用 | ワークフローにプレーンテキストでトークンを含めるなどの回避策により、セキュリティ上の脆弱性が増加します。 | [GitHubコミュニティでの議論](https://github.community/t5/GitHub-Actions/Make-secrets-available-to-builds-of-forks/td-p/30678) |
| GitHub Actionsでは、公開リポジトリからDockerイメージにアクセスするための資格情報が必要です。UIを介して手動で作業します。 | 回避策として別のDockerレジストリが必要です。GitHub パッケージは、資格情報がないと Actions からアクセスできません。 | [GitHubコミュニティでの議論](https://github.community/t5/GitHub-Actions/docker-pull-from-public-GitHub-Package-Registry-fail-with-quot/td-p/32782) |
| *運用コストを増加させる課題* |  |  |
| セルフホストランナーはリポジトリごとに必要 | インフラや管理コストが増加します。同じマシンに複数のランナーサービスを追加することができますが、GitHub はリポジトリ間のランナーの状態を認識していないため、別々のリポジトリでも同じマシン上でビルドを開始することができます。 | [GitHubコミュニティでの議論](https://github.community/t5/GitHub-Actions/Self-hosted-runners-specific-to-repository/m-p/48519) |
| GitHub Enterprise ServerでのGitHub Actionのサポート | GitHub ActionsはGitHub Enterprise Serverでは動作せず、現在はGitHub Enterprise Cloudでのみ利用可能です。 | [GitHubコミュニティでの議論](https://github.community/t5/GitHub-Actions/GitHub-Actions-Beta-support-in-GitHub-Enterprise/m-p/48441) |
| UIからアーティファクトを選択的に削除したり、アティファクトの保存期間を90日未満にすること | 必要なストレージの増加は、価格の上昇につながります。また、アーティファクト保存の上限に達すると、チームがブロックされてしまうこともあります。ストレージを削減するために、特別なスクリプトを書いたり、ビルド後のアーティファクトを管理したりする必要があります。 | [GitHubコミュニティでの議論](https://github.community/t5/GitHub-Actions/Delete-artifacts/m-p/38188) |


## GitLab のスケーリング、高可用性、ゼロダウンタイムのアップグレード機能
- スケーリング: [GitLabはエンタープライズクラス](/solutions/enterprise-class/)であり、32000人を超えるユーザーまでスケールできます。こちらは[Amazon](https://docs.gitlab.com/ee/install/aws/)でデプロイした場合のアーキテクチャのリンクです。 この機能をAmazonのオートスケーリング機能と併用することで、負荷に応じて必要なノードの起動と停止ができるようになります。 これは、パフォーマンスの観点からディベロッパーエクスペリエンスを維持しながら、大幅なコスト削減につながります。CI/CDの負荷に応じて必要なGitLabランナーをスピンアップし、必要な分だけを支払うこともできます。
- 高可用性: GitLab は二つの観点から 高可用性を提供します。第一に、アプリケーション自体が、利用可能なノードにシームレスにフェイルオーバーすることで、可用性が高くなります。第二に、[Gitaly](https://docs.gitlab.com/ee/administration/gitaly/index.html)を利用することで、データの可用性を高めることができます。Gitalyは、Gitリポジトリへの高レベルなRPCアクセスを提供するサービスです。GitLab はシームレスにフェイルオーバーします - Gitaly ノードや他のノードが落ちてもダウンタイムはありません。大災害が発生した場合、GitLabは他のGeoにフェイルオーバーすることができます。大規模障害時のこのプロセスは、わずか5～20分で完了します。ビジネスは問題なくフルスピードで稼働させることができます。
- ダウンタイムゼロのアップグレード:  強力な高可用性アーキテクチャにより、GitLabはダウンタイムゼロのアップグレードを提供することができます。

## 発表
- 2020年4月14日 - GitHubは[Teamプランを無償化すること](https://github.blog/2020-04-14-github-is-now-free-for-teams/)を発表しました。
- 2019年11月 - GitHubは全ユーザー向けに[GitHub Actionsの一般提供](https://github.blog/2019-11-13-universe-day-one/)を発表しました。
- 2019年5月10日 - GitHubは[GitHubパッケージレジストリ](https://github.com/features/package-registry)の限定パブリックベータを発表しました。ウェブサイトから: "GitHubパッケージレジストリを使えば、組織内や全世界に向けてパッケージを安全に公開・利用することができます。"
- 2018年9月10日 - GitHubが[Microsoft Azure PipelinesをGitHub Marketplace](https://blog.github.com/2018-09-10-azure-pipelines-now-available-in-github-marketplace/)で利用できることを発表しました。これは、Microsoft（最近GitHubを買収した）がAzure DevOps（リブランドVSTS/TFS）を発表しているのと並行しています。関連があるの？もちろん！
- 2018年9月10日 - マイクロソフトが[Visual Studio Codeに直接統合されたGitHub Pull Requests](https://code.visualstudio.com/blogs/2018/09/10/introducing-github-pullrequests)の追加を発表しました。Visual Studio Codeは、[Microsoftの軽量な（しかし、まだWebベースではない）コードエディタ](https://azure.microsoft.com/en-us/products/visual-studio-code/)です。
- 2018年6月4日 - マイクロソフトがGitHubを買収。


## リソース
* [GitHubのウェブサイト](https://www.github.com/)
* [GitLabはどのようにエンタープライズクラスなのか](https://about.gitlab.com/solutions/enterprise-class/) - GitHub Enterpriseの主張を意識して書かれている
* [GitHubパッケージレジストリ](https://github.com/features/package-registry)
* [GitHub Actionsのページ](https://github.com/features/actions)


## 比較
